workflow.json
{
  "name": "DelAI AI продавец-квалификатор",
  "nodes": [
    {
      "id": "995e8280-e51e-4a2e-be72-b179f6e592ba",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        300
      ],
      "parameters": {
        "updates": [
          "message"
        ]
      }
    },
    {
      "id": "29271b89-6e2f-4d13-820c-bc3702cc0018",
      "name": "Печатает...",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        460,
        300
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendChatAction",
        "chatId": "={{ $json.message.chat.id }}",
        "action": "typing"
      }
    },
    {
      "id": "3dda31e8-82b1-4a65-a7d5-30c3b436f0e3",
      "name": "Текст или голос",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        680,
        300
      ],
      "parameters": {
        "mode": "rules",
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Telegram Trigger\").item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $(\"Telegram Trigger\").item.json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "f393ef3c-0f5e-4c43-97b5-090f7175fc8f",
      "name": "Скачать голосовое",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        900,
        200
      ],
      "parameters": {
        "resource": "file",
        "operation": "get",
        "fileId": "={{ $(\"Telegram Trigger\").item.json.message.voice.file_id }}",
        "download": true
      }
    },
    {
      "id": "9b4fd364-2cd5-4670-8040-90e46af1d41a",
      "name": "Whisper транскрибация",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        1120,
        200
      ],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "data",
        "options": {
          "language": "ru"
        }
      }
    },
    {
      "id": "6ca7b53f-bdef-4cbf-8afd-7bdb03ba21ba",
      "name": "Текст из голоса",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1340,
        200
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "userText",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "chatId",
              "value": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "dff2a28f-0d9e-435f-add8-aa8737e2a89a",
      "name": "Объединить ввод",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1560,
        320
      ],
      "parameters": {
        "mode": "append"
      }
    },
    {
      "id": "1c5512c3-8e42-4ad4-9e0e-cc7f504a6226",
      "name": "Текст из сообщения",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        900,
        400
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "b1",
              "name": "userText",
              "value": "={{ $(\"Telegram Trigger\").item.json.message.text }}",
              "type": "string"
            },
            {
              "id": "b2",
              "name": "chatId",
              "value": "={{ $(\"Telegram Trigger\").item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false
      }
    },
    {
      "id": "75f8547e-90e1-4d94-a28c-fca21ec417ff",
      "name": "ИИ-продавец-квалификатор",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1800,
        320
      ],
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.userText }}",
        "options": {
          "systemMessage": "Ты - консультант-продавец агентства DelAI (автоматизация бизнеса на n8n и ИИ). Отвечай ТОЛЬКО на основе базы знаний - всегда вызывай инструмент \"Поиск по базе знаний DelAI\" перед ответом. Если в базе нет ответа - задай уточняющий вопрос, ничего не выдумывай. Веди живой диалог, выясни задачу клиента и его нишу, мягко квалифицируй лида: горячий - готов обсуждать внедрение или оставил контакт; тёплый - интересуется, но пока думает; холодный - просто смотрит. Цены не называй конкретными суммами - говори, что считаем индивидуально после короткого созвона или переписки. Когда лид ГОРЯЧИЙ И у тебя есть его контакт (телефон, email или @username), добавь В САМЫЙ КОНЕЦ ответа служебную строку строго в формате [[LEAD|hot|<ниша>|<задача>|<контакт>]] - это техническая метка для передачи менеджеру, она не должна выглядеть как часть сообщения клиенту. Если лид не горячий или контакта нет - метку не добавляй. Пиши по-русски, дружелюбно и по делу."
        }
      }
    },
    {
      "id": "03a2c230-0399-4275-870d-60d4b2b71cd2",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1620,
        520
      ],
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {
          "temperature": 0.3
        }
      }
    },
    {
      "id": "48b0ac92-e16f-49fe-bcf2-9a4e942dad66",
      "name": "Память диалога",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1800,
        520
      ],
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 10
      }
    },
    {
      "id": "6b6ce872-49dd-4600-a959-37378c4cdd07",
      "name": "Поиск по базе знаний DelAI",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        1980,
        520
      ],
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "База знаний агентства DelAI: услуги по направлениям (продажи, маркетинг, e-commerce, документы, HR, чат-боты), как работаем, цены. Используй для ответа на любой вопрос клиента об услугах, процессе и стоимости.",
        "memoryKey": {
          "__rl": true,
          "mode": "id",
          "value": "delai_kb"
        },
        "topK": 4,
        "includeDocumentMetadata": true
      }
    },
    {
      "id": "1072ea49-9b60-4dac-a4fd-1f01ce7061af",
      "name": "OpenAI Embeddings (поиск)",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        2160,
        520
      ],
      "parameters": {
        "model": "text-embedding-3-small"
      }
    },
    {
      "id": "16971cd4-80a3-428b-b308-872930b22e72",
      "name": "Разобрать ответ и лид",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2020,
        320
      ],
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.output || \"\";\nconst m = raw.match(/\\[\\[LEAD\\|hot\\|([^|]*)\\|([^|]*)\\|([^\\]]*)\\]\\]/);\nconst isHot = !!m;\nconst clean = raw.replace(/\\[\\[LEAD\\|hot\\|[^\\]]*\\]\\]/g, \"\").trim();\nreturn {\n  json: {\n    chatId: $json.chatId,\n    clientText: clean,\n    isHotLead: isHot,\n    leadNiche: isHot ? (m[1] || \"\").trim() : \"\",\n    leadTask: isHot ? (m[2] || \"\").trim() : \"\",\n    leadContact: isHot ? (m[3] || \"\").trim() : \"\"\n  }\n};"
      }
    },
    {
      "id": "07d5f3ed-3bf8-4561-bf78-034032a18722",
      "name": "Горячий лид?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2240,
        320
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.isHotLead }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "6203f27c-3ef7-4dce-a229-6396f36c735c",
      "name": "Уведомить менеджера",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2460,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "REPLACE_WITH_MANAGER_CHAT_ID",
        "text": "=🔥 Горячий лид DelAI\nНиша: {{ $json.leadNiche }}\nЗадача: {{ $json.leadTask }}\nКонтакт: {{ $json.leadContact }}\nChat ID клиента: {{ $json.chatId }}",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "b985bcd1-d4b6-46d4-8e2e-e47fd443538d",
      "name": "Ответ клиенту (горячий)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2680,
        200
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $(\"Разобрать ответ и лид\").item.json.clientText }}",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "11a39a48-0c1c-4a51-b71c-0cb96074a3ba",
      "name": "Ответ клиенту",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2460,
        440
      ],
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.clientText }}",
        "additionalFields": {
          "appendAttribution": false
        }
      }
    },
    {
      "id": "53b24e53-35f4-4155-a29c-68f185f80b35",
      "name": "Sticky Note 83d9b7a6",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        190,
        250
      ],
      "parameters": {
        "content": "## DelAI AI продавец-квалификатор\nTelegram-бот ваш Telegram-бот. RAG по базе знаний delai_kb (общий стор с WF DelAI KB ingestion). Голос распознаётся через Whisper. Горячий лид с контактом уходит менеджеру в личку, служебный тег [[LEAD|hot|...]] вырезается из ответа клиенту.",
        "color": 5,
        "width": 2300,
        "height": 220
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Печатает...",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Печатает...": {
      "main": [
        [
          {
            "node": "Текст или голос",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текст или голос": {
      "main": [
        [
          {
            "node": "Скачать голосовое",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Текст из сообщения",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Скачать голосовое": {
      "main": [
        [
          {
            "node": "Whisper транскрибация",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Whisper транскрибация": {
      "main": [
        [
          {
            "node": "Текст из голоса",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текст из голоса": {
      "main": [
        [
          {
            "node": "Объединить ввод",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Объединить ввод": {
      "main": [
        [
          {
            "node": "ИИ-продавец-квалификатор",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Текст из сообщения": {
      "main": [
        [
          {
            "node": "Объединить ввод",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "ИИ-продавец-квалификатор": {
      "main": [
        [
          {
            "node": "Разобрать ответ и лид",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "ИИ-продавец-квалификатор",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Память диалога": {
      "ai_memory": [
        [
          {
            "node": "ИИ-продавец-квалификатор",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Поиск по базе знаний DelAI": {
      "ai_tool": [
        [
          {
            "node": "ИИ-продавец-квалификатор",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Embeddings (поиск)": {
      "ai_embedding": [
        [
          {
            "node": "Поиск по базе знаний DelAI",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Разобрать ответ и лид": {
      "main": [
        [
          {
            "node": "Горячий лид?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Горячий лид?": {
      "main": [
        [
          {
            "node": "Уведомить менеджера",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Ответ клиенту",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Уведомить менеджера": {
      "main": [
        [
          {
            "node": "Ответ клиенту (горячий)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}